<div class="order__grid">
  <% products.forEach((product, index) => { %>
    <article class="order__product-item">
      <header class="order__header">
        <h1 class="order__title"><%= product.title %></h1>
      </header>
      <div class="order__content">
        <h2 class="order__price">
          $<%= product.price %> x <%= product.quantity %>
        </h2>
        <p class="order__description"><%= product.description %></p>
      </div>
      <div class="order__item-total-price">$<%= itemPrice[index].toFixed(2) %></div>
    </article>
  <% }) %>
</div>
<div class="order__total-price">
  Total: $<%= totalPrice.toFixed(2) %>
</div>
<div>
  <button id="order-btn" class="btn">Order</button>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe = Stripe("<%= stripeApiKey %>");
    const sessionId = "<%= sessionId %>";
    const orderBtn = document.getElementById("order-btn");

    orderBtn.addEventListener("click", () => {
      stripe.redirectToCheckout({
        sessionId: sessionId,
      });
    });
  </script>
</div>
