<h1>Your Orders</h1>
<% if (orders.length > 0) { %>
  <% orders.forEach((order, index) => { %>
    <h2 class="order__id">#<%= order._id %></h2>
    <div class="grid">
      <% order.products.forEach(p => { %>
        <article class="card order__product-item">
          <header class="card__header">
            <h1 class="product__title"><%= p.product.title %></h1>
          </header>
          <div class="order__image">
            <img
              src="images/default-image.png"
              alt="<%= p.product.title %>"
            />
          </div>
          <div class="card__content">
            <h3 class="product__price">
              $<%= p.product.price %> x <%= p.quantity %>
              =
              $<%= p.product.price * p.quantity %>
            </h3>
            <p class="product__description">
              <%= p.product.description %>
            </p>
          </div>
        </article>
      <% }); %>
    </div>
    <div class="total-price">Total: $<%= totalPrice[index] %></div>
    <a href="/orders/<%= order._id %>" class="btn">Download Invoice</a>
    <hr class="order__hr">
  <% }); %>
<% } else { %>
  <p>No orders</p>
<% } %>
