<h1>Your Cart</h1>
<% if (products.length > 0) { %>
  <div class="grid">
    <% products.forEach(({ productData, productQty }) => { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= productData.title %> (<%= productQty %>)</h1>
        </header>
        <div class="card__image">
          <img
            src="<%= productData.imageUrl %>"
            alt="<%= productData.title %>"
          />
        </div>
        <div class="card__content">
          <h2 class="product__price">
            $<%= productData.price %>
          </h2>
          <p class="product__description">
            <%= productData.description %>
          </p>
        </div>
        <form action="/cart-delete-product" method="POST">
          <input type="hidden" name="productId" value="<%= productData.id %>">
          <button class="btn" type="submit">Delete</button>
        </form>
      </article>
    <% }) %>
  </div>
  <form action="/checkout" method="POST">
    <button class="btn" type="submit">Checkout</button>
  </form>
<% } else { %>
  <p>No Products in Cart!</p>
<% } %>
