<h1>New Password</h1>
<form id="new-password-form" class="form-reset-password" action="/new-password" method="POST">
  <div class="form-control">
    <label for="newPassword">New Password: </label>
    <input
      class="<%= errorMessages && errorMessages.newPassword ? "invalid" : "" %>"
      type="password"
      name="newPassword"
      id="newPassword"
      placeholder="Enter your new password"
      value="<%= oldInput.newPassword %>"
    />
    <small class="error-info"><%= errorMessages && errorMessages.newPassword ? errorMessages.newPassword.msg : "" %></small>
    <div class="password-info">
      <p>
        <span class="asterisks">**</span>Password should meet the following
        requirements:
      </p>
      <ul>
        <li>Minimum length of 8 characters</li>
        <li>At least 1 lowercase letter</li>
        <li>At least 1 uppercase letter</li>
        <li>At least 1 symbol</li>
        <li>At least 1 number</li>
      </ul>
    </div>
  </div>
  <div class="form-control">
    <label for="confirmPassword">Confirm Password: </label>
    <input
      class="<%= errorMessages && errorMessages.confirmPassword ? "invalid" : "" %>"
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Enter your new password again"
      value="<%= oldInput.confirmPassword %>"
    />
    <small class="error-info"><%= errorMessages && errorMessages.confirmPassword ? errorMessages.confirmPassword.msg : "" %>
  </div>
  <input type="hidden" name="userId" value="<%= userId %>" />
  <input type="hidden" name="resetToken" value="<%= resetToken %>" />
  <%- include("../partials/csrf-token-input") %>
  <button class="btn" type="submit">Update Password</button>
</form>
