<h1>Your Cart</h1>
<% if (products.length > 0) { %>
  <div class="grid">
    <% products.forEach((product, index) => { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= product.title %></h1>
        </header>
        <div class="card__image">
          <img
            src="<%= product.imageUrl %>"
            alt="<%= product.title %>"
          />
        </div>
        <div class="card__content">
          <h2 class="product__price">
            $<%= product.price %> x <%= product.quantity %>
          </h2>
          <p class="product__description">
            <%= product.description %>
          </p>
        </div>
        <div class="item-total-price">$<%= itemPrice[index].toFixed(2) %></div>
        <form class="btn-cart-delete" action="/cart-delete-product" method="POST">
          <input type="hidden" name="productId" value="<%= product._id %>">
          <%- include("../partials/csrf-token-input") %>
          <button class="btn btn-delete" type="submit">Delete</button>
        </form>
      </article>
    <% }) %>
  </div>
  <div class="total-price">Total: $<%= totalPrice.toFixed(2) %></div>
  <a class="btn" href="/checkout">Order Now</a>
<% } else { %>
  <p>No Products in Cart!</p>
<% } %>
