<h1>Your Cart</h1>
<% if (products.length > 0) { %>
  <div class="grid">
    <% products.forEach((product) => { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= product.title %> (<%= product.cartItem.quantity %>)</h1>
        </header>
        <div class="card__image">
          <img
            src="<%= product.imageUrl %>"
            alt="<%= product.title %>"
          />
        </div>
        <div class="card__content">
          <h2 class="product__price">
            $<%= product.price %>
          </h2>
          <p class="product__description">
            <%= product.description %>
          </p>
        </div>
        <form class="btn-cart-delete" action="/cart-delete-product" method="POST">
          <input type="hidden" name="productId" value="<%= product.id %>">
          <button class="btn btn-delete" type="submit">Delete</button>
        </form>
      </article>
    <% }) %>
  </div>
  <form action="/checkout" method="POST">
    <button class="btn" type="submit">Checkout</button>
  </form>
<% } else { %>
  <p>No Products in Cart!</p>
<% } %>
