<h1><%= product.title %></h1>
<div class="image">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
</div>
<h2>$<%= product.price %></h2>
<p><%= product.description %></p>
<%- include("../partials/add-to-cart") %>
